.chooseUs
    background-color: $main-color
    &_content
        padding-top: 120px

.main
    &-info
        text-align: center
        max-width: 70%
        margin-left: auto
        margin-right: auto
    &_title
        padding-bottom: 45px
        color: $title-color
        font-size: 40px
        font-family: 'Montserrat Bold'
    &_subtitle
        font-family: 'Montserrat Medium'
        color: $subtitle-color
        
.items
    &-head
        padding-bottom: 25px
        display: flex
        align-items: center
    &_image
        padding-right: 20px
    &-info
        // padding-top: 110px
        display: flex
        // justify-content: space-between
    &_title
        font-family: 'Montserrat Bold'
        font-size: 25px
        color: $title-color
    &_subtitle
        font-family: 'Montserrat Medium'
        color: $subtitle-color
    &-block1
        // margin-right: 230px
    &-block2 
        // margin-left: 230px
    &-block3
        // padding-top: 30px

.content
    &_item
        // max-width: 25%
        border: 1px solid red
        // padding-top: 100px
        margin-top: 100px
.woman
    &_image
        padding-top: 30px
        padding-right: 40px
        padding-left: 40px
        