.Gallery
    background-color:#38b69e
    &_title
        font-size: 40px
        font-family: 'Montserrat Bold'
        color: $main-color
    &_subtitle
        font-family: 'Montserrat Medium'
        color: $main-color
        padding-top: 50px
        padding-bottom: 50px
    &-content
        padding-top: 100px
        padding-bottom: 100px
        // max-width: 90%
        margin-left: auto
        margin-right: auto
    &-image
        // margin: auto 
        padding-bottom: 35px
        justify-content: center
        // margin-left: auto
        // margin-right: auto
        max-width: 100%
.image
    &-area
        display: flex
        flex-wrap: wrap
        justify-content: center
        // max-width: 90%
.text
    &-area
        text-align: center
        max-width: 90%
        margin-left: auto
        margin-right: auto
.row
    display: flex
    flex-wrap: wrap
    