.navbar
    margin-top: 40px
    margin-bottom: 40px
    &-block
        border: 1px solid red
        display: flex
        justify-content: space-between
        align-items: center
        
    &_menu
        border: 1px solid black
        font-family: 'Montserrat Medium'
        color: $title-color
        font-size: 18px
        
    &_social
        border: 1px solid black
    &_text
        padding-right: 35px
        

        // font-size: larger    
        // верно ли свойство для текста в данной ситуации??? ПЕРЕПРОВЕРЬ, ОЛЯ!!!
        //    justify-content: space-between 



.menu
    justify-content: space-between

.icon
    padding-left: 25px

