.QuickActionBar
    background-color: #e2e2e2

.action-bar
    &_button
        height: 45px
        width: 165px
        background-color: #1a9bdc
        border: none
        border-radius: 50px
        font-family: 'Montserrat Medium'
    //     // color: #ffffff
    &_title
        font-family: 'Montserrat Bold'
        font-size: 25px
        color: #3a3a3a
    &_content
        display: flex
        max-width: 90%
        margin-left: auto
        margin-right: auto
        align-items: center
        padding-top: 50px
        padding-bottom: 50px
        justify-content: space-between


.button
    &_subtitle
        color: #ffffff