@font-face {
  font-family: 'Montserrat Medium';
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: url("Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/OpenSans/OpenSans-Light.eot");
  src: url("OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.container {
  border: 1px solid violet;
  max-width: 1200px;
  margin: auto;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  border: none;
}

.button_block {
  display: flex;
  align-items: center;
  border: 1px solid red;
}

.button_block-1 {
  flex-grow: 1;
}

.button_text-item1 {
  color: #3a3a3a;
  font-family: 'Montserrat Bold';
}

.button_text-item2 {
  color: #4b4a4a;
  font-family: 'Montserrat Medium';
}

.button_item {
  width: 51px;
  height: 51px;
  background-color: #1a9bdc;
  border-radius: 50px;
  padding: 12px;
  margin-right: 15px;
  margin-left: 30px;
}

.header {
  margin-top: 35px;
  padding-bottom: 20px;
}

.hero {
  justify-content: space-between;
  display: flex;
}

.button {
  cursor: default;
}

.navbar {
  margin-top: 40px;
  margin-bottom: 40px;
}

.navbar-block {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_menu {
  border: 1px solid black;
  font-family: 'Montserrat Medium';
  color: #3a3a3a;
  font-size: 18px;
}

.navbar_social {
  border: 1px solid black;
}

.navbar_text {
  padding-right: 35px;
}

.menu {
  justify-content: space-between;
}

.icon {
  padding-left: 25px;
}

.home {
  width: 100%;
  height: 100%;
  background: url("/Users/olgamelnikovic/Desktop/Projects/Medical/src/img/home/doctor-background.jpg"), center, no-repeat;
}

.home_title {
  font-size: 40px;
  font-family: 'Montserrat Bold';
  color: #3a3a3a;
}

.home_subtitle {
  display: block;
  margin-top: 45px;
  margin-bottom: 45px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-family: 'Montserrat Medium';
  color: #4b4a4a;
}

.home-block {
  display: block;
  max-width: 50%;
  text-align: center;
  border: 1px solid black;
  padding-top: 195px;
  padding-bottom: 195px;
}

.home_button {
  height: 45px;
  width: 165px;
  background-color: #1a9bdc;
  border: none;
  border-radius: 50px;
  font-family: 'Montserrat Medium';
}

.home_button_subtitle {
  margin-bottom: 0;
}

p {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.services_content {
  padding-top: 80px;
  padding-bottom: 60px;
  width: 80%;
  margin: auto;
  color: #ffffff;
}

.services_title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Montserrat Bold';
  font-size: 25px;
}

.services_subtitle {
  font-family: 'Montserrat Medium';
  text-align: center;
}

.services-block {
  display: flex;
  justify-content: center;
}

.services-block_item {
  width: 25%;
  text-align: center;
}

.item1 {
  background-color: #43b1d2;
}

.item2 {
  background-color: #3fb6c6;
}

.item3 {
  background-color: #3cbbbb;
}

.item4 {
  background-color: #37c3a8;
}

.chooseUs {
  background-color: #ffffff;
}

.chooseUs_content {
  padding-top: 120px;
}

.main-info {
  text-align: center;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.main_title {
  padding-bottom: 45px;
  color: #3a3a3a;
  font-size: 40px;
  font-family: 'Montserrat Bold';
}

.main_subtitle {
  font-family: 'Montserrat Medium';
  color: #4b4a4a;
}

.items-head {
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}

.items_image {
  padding-right: 20px;
}

.items-info {
  display: flex;
}

.items_title {
  font-family: 'Montserrat Bold';
  font-size: 25px;
  color: #3a3a3a;
}

.items_subtitle {
  font-family: 'Montserrat Medium';
  color: #4b4a4a;
}

.content_item {
  border: 1px solid red;
  margin-top: 100px;
}

.woman_image {
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 40px;
}

.BestFeature {
  background-color: #0087be;
}

.BestFeature-block {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
  padding-bottom: 160px;
}

.BestFeature-block_item {
  color: #ffffff;
  text-align: center;
}

.BestFeature-block_title {
  font-family: 'Montserrat Bold';
  font-size: 50px;
  padding-top: 45px;
  padding-bottom: 30px;
  margin-bottom: 0;
}

.BestFeature-block_subtitle {
  display: flex;
  font-family: 'Montserrat Medium';
  font-size: 25px;
  margin-top: 30px;
}

.BestFeature_image2 {
  padding-bottom: 9px;
}

.BestFeature_image3 {
  padding-bottom: 18px;
}

.BestFeature_image4 {
  padding-bottom: 7px;
}

.BestFeature_element {
  width: 85px;
  height: 6px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.Gallery {
  background-color: #38b69e;
}

.Gallery_title {
  font-size: 40px;
  font-family: 'Montserrat Bold';
  color: #ffffff;
}

.Gallery_subtitle {
  font-family: 'Montserrat Medium';
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Gallery-content {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.Gallery-image {
  padding-bottom: 35px;
  justify-content: center;
  max-width: 100%;
}

.image-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text-area {
  text-align: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.OurDoctor {
  background-color: #ffffff;
}

.OurDoctor-content {
  padding-top: 140px;
  padding-bottom: 100px;
}

.OurDoctor_title {
  font-size: 40px;
  font-family: 'Montserrat Bold';
  color: #3a3a3a;
  padding-bottom: 40px;
}

.OurDoctor_subtitle {
  font-family: 'Montserrat Medium';
  color: #4b4a4a;
}

.OurDoctor-elements {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
}

.doctor_item {
  text-align: center;
}

.doctor-image {
  max-width: 100%;
  padding-bottom: 30px;
}

.doctor_title {
  font-size: 25px;
  font-family: 'Montserrat Medium';
}

.doctor_subtitle {
  font-size: 16px;
  font-family: 'Montserrat Medium';
}

.social-media {
  padding-top: 30px;
  padding-bottom: 30px;
}

.QuickActionBar {
  background-color: #e2e2e2;
}

.action-bar_button {
  height: 45px;
  width: 165px;
  background-color: #1a9bdc;
  border: none;
  border-radius: 50px;
  font-family: 'Montserrat Medium';
}

.action-bar_title {
  font-family: 'Montserrat Bold';
  font-size: 25px;
  color: #3a3a3a;
}

.action-bar_content {
  display: flex;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
}

.button_subtitle {
  color: #ffffff;
}
