@font-face {
  font-family: 'Montserrat Medium';
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: url("Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/OpenSans/OpenSans-Light.eot");
  src: url("OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: auto;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  padding-top: 35px;
}

.header_link {
  color: #3a3a3a;
}

.header-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.header_line {
  border: 1px solid #ececec;
}

.header-list {
  display: flex;
  margin-bottom: 0;
}

.header-list_ico {
  padding-right: 5px;
}

.header-list__text a:hover {
  color: #1a9bdc;
  text-decoration: none;
}

.header-list__text span:hover {
  color: #1a9bdc;
}

.header-list_item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
}

.col {
  padding-right: 0;
}

@media (max-width: 1200px) {
  .header-list {
    display: flex;
    flex-wrap: wrap;
  }
  .header-list_ico {
    padding-right: 10px;
  }
  .header-list_item {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (max-width: 768px) {
  .header-list {
    justify-content: center;
  }
  .header-list_ico {
    padding-right: 15px;
  }
  .header-list_item {
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.navbar-block {
  display: contents;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar_menu {
  font-family: 'Montserrat Medium';
  color: #3a3a3a;
  font-size: 18px;
}

.navbar_social a:hover {
  text-decoration: none;
}

.navbar-social {
  padding-left: 30px;
}

.navbar_text {
  padding-right: 30px;
  color: #3a3a3a;
}

.menu {
  justify-content: space-between;
}

.menu a:hover {
  color: #1a9bdc;
  text-decoration: none;
}

.icon {
  padding-left: 25px;
}

@media (max-width: 1200px) {
  .navbar {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .navbar-social {
    padding-left: 5px;
  }
  .navbar_text {
    padding-right: 5px;
  }
}

@media (max-width: 768px) {
  .navbar {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .navbar_menu {
    display: flex;
  }
}

@media (max-width: 760px) {
  .navbar_social {
    display: none;
  }
}

@media (max-width: 576px) {
  .navbar_menu {
    display: flex;
    flex-direction: column;
  }
}

.home {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  width-height: 100%;
}

.home_image {
  display: contents;
}

.home_title {
  font-size: 40px;
  font-family: 'Montserrat Bold';
  color: #3a3a3a;
  margin-bottom: 0;
}

.home_subtitle {
  display: block;
  margin-top: 45px;
  margin-bottom: 45px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-family: 'Montserrat Medium';
  color: #4b4a4a;
}

.home-block {
  flex-wrap: wrap;
  max-width: 50%;
  text-align: center;
  padding-top: 195px;
  padding-bottom: 195px;
}

.home_button {
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  width: 165px;
  background-color: #1a9bdc;
  border: none;
  border-radius: 50px;
  font-family: 'Montserrat Medium';
  color: #ffffff;
}

.home_button_subtitle {
  margin-bottom: 0;
}

p {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .home {
    background-image: none;
    style: none;
    background-color: #e2e2e2;
  }
  .home-block {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 135px;
    padding-bottom: 135px;
  }
  .home_subtitle {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

@media (max-width: 768px) {
  .home_title {
    font-size: 35px;
  }
  .home-block {
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .home_subtitle {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.services_content {
  padding-top: 80px;
  padding-bottom: 60px;
  width: 80%;
  margin: auto;
  color: #ffffff;
}

.services_title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Montserrat Bold';
  font-size: 25px;
  margin-bottom: 0;
}

.services_subtitle {
  font-family: 'Montserrat Medium';
  text-align: center;
}

.services-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-block div:hover {
  background-color: #1a9bdc;
}

.services-block_item {
  width: 25%;
  text-align: center;
}

.item1 {
  background-color: #43b1d2;
}

.item2 {
  background-color: #3fb6c6;
}

.item3 {
  background-color: #3cbbbb;
}

.item4 {
  background-color: #37c3a8;
}

@media (max-width: 1200px) {
  .services_content {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .services_title {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .services_content {
    padding-top: 40px;
    padding-bottom: 30px;
    width: 90%;
  }
  .services_title {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.chooseUs {
  background-color: #ffffff;
}

.chooseUs_content {
  padding-top: 120px;
}

.main-info {
  text-align: center;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.main_title {
  padding-bottom: 45px;
  color: #3a3a3a;
  font-size: 40px;
  font-family: 'Montserrat Bold';
}

.main_subtitle {
  font-family: 'Montserrat Medium';
  color: #4b4a4a;
}

.items-head {
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}

.items_image {
  padding-right: 20px;
}

.items-info {
  display: flex;
}

.items_title {
  font-family: 'Montserrat Bold';
  font-size: 25px;
  margin-bottom: 0;
  color: #3a3a3a;
}

.items_subtitle {
  font-family: 'Montserrat Medium';
  color: #4b4a4a;
}

.items-block1 {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.items-block2 {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.items-block3 {
  display: flex;
  flex-wrap: wrap;
}

.content_item {
  margin-top: 100px;
}

.woman_image {
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 40px;
}

@media (max-width: 1200px) {
  .chooseUs_content {
    padding-top: 80px;
  }
  .main_title {
    padding-bottom: 25px;
  }
  .content_item {
    margin-top: 40px;
    padding-left: auto;
    padding-right: auto;
  }
  .items-block1 {
    margin-right: 20px;
    padding-bottom: 40px;
  }
  .items-block2 {
    margin-left: 20px;
    padding-bottom: 40px;
  }
  .items-head {
    padding-bottom: 15px;
  }
  .main-info {
    max-width: 80%;
  }
  .woman_image {
    max-width: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .chooseUs_content {
    padding-top: 60px;
  }
  .main-info {
    max-width: 100%;
  }
  .main_title {
    font-size: 30px;
  }
  .items-block1 {
    margin-right: 0;
  }
  .items-block2 {
    margin-left: 0;
  }
  .items-head {
    padding-bottom: 5px;
  }
  .items_image {
    padding-right: 5px;
    max-width: 30%;
  }
  .items_title {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .items-info {
    display: flex;
    flex-wrap: wrap;
  }
  .items-block1 {
    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .items-block2 {
    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .content_item {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
  .items-block1 {
    padding-bottom: 0;
  }
  .items-block2 {
    padding-bottom: 0;
  }
  .items_title {
    font-size: 25px;
  }
  .main_subtitle {
    padding-bottom: 10px;
  }
}

.BestFeature {
  background-color: #0087be;
}

.BestFeature-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 150px;
  padding-bottom: 150px;
}

.BestFeature-block_item {
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.BestFeature-block_title {
  font-family: 'Montserrat Bold';
  font-size: 50px;
  padding-top: 45px;
  padding-bottom: 30px;
  margin-bottom: 0;
}

.BestFeature-block_subtitle {
  display: flex;
  font-family: 'Montserrat Medium';
  font-size: 25px;
  margin-top: 30px;
  justify-content: center;
}

.BestFeature_image2 {
  padding-bottom: 9px;
}

.BestFeature_image3 {
  padding-bottom: 18px;
}

.BestFeature_image4 {
  padding-bottom: 7px;
}

.BestFeature_element {
  width: 85px;
  height: 6px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .BestFeature-block {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .BestFeature-block_item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .BestFeature-block {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .BestFeature-block_title {
    font-size: 40px;
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .BestFeature-block_subtitle {
    font-size: 20px;
    margin-top: 20px;
  }
  .BestFeature_element {
    width: 65px;
    height: 6px;
  }
  .BestFeature_image1 {
    max-width: 30%;
    padding-bottom: 1.5px;
  }
  .BestFeature_image2 {
    max-width: 30%;
    padding-bottom: 1px;
  }
  .BestFeature_image3 {
    padding-bottom: 15px;
    max-width: 30%;
  }
  .BestFeature_image4 {
    max-width: 30%;
  }
}

.Gallery {
  background-color: #38b69e;
}

.Gallery_title {
  font-size: 40px;
  font-family: 'Montserrat Bold';
  color: #ffffff;
}

.Gallery_subtitle {
  font-family: 'Montserrat Medium';
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Gallery-content {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.Gallery-image {
  padding-bottom: 35px;
  justify-content: center;
  max-width: 100%;
}

.image-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text-area {
  text-align: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .Gallery-content {
    padding-top: 85px;
    padding-bottom: 85px;
  }
  .Gallery_subtitle {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .Gallery-image {
    padding-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .Gallery-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .Gallery_subtitle {
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .Gallery_title {
    font-size: 35px;
  }
  .image-area {
    margin: auto;
    display: block;
  }
  .gallery_new-box {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
}

.OurDoctor {
  background-color: #ffffff;
}

.OurDoctor-content {
  padding-top: 140px;
  padding-bottom: 100px;
}

.OurDoctor_title {
  font-size: 40px;
  font-family: 'Montserrat Bold';
  color: #3a3a3a;
  padding-bottom: 40px;
}

.OurDoctor_subtitle {
  font-family: 'Montserrat Medium';
  color: #4b4a4a;
}

.OurDoctor-elements {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
}

.doctor_item {
  text-align: center;
}

.doctor-image {
  max-width: 100%;
  padding-bottom: 30px;
}

.doctor_title {
  font-size: 25px;
  font-family: 'Montserrat Medium';
}

.doctor_subtitle {
  font-size: 16px;
  font-family: 'Montserrat Medium';
}

.social-media {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 1200px) {
  .OurDoctor-elements {
    padding-top: 60px;
  }
  .OurDoctor-content {
    padding-top: 125px;
    padding-bottom: 85px;
  }
  .OurDoctor_title {
    padding-bottom: 30px;
  }
  .social-media {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .doctor-image {
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .OurDoctor-elements {
    padding-top: 40px;
  }
  .OurDoctor-content {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .OurDoctor_title {
    padding-bottom: 20px;
    font-size: 35px;
  }
  .social-media {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .doctor-image {
    padding-bottom: 15px;
  }
}

.QuickActionBar {
  background-color: #e2e2e2;
}

.action-bar_button {
  height: 50px;
  width: 200px;
  background-color: #1a9bdc;
  border: none;
  border-radius: 50px;
  font-family: 'Montserrat Medium';
  color: #ffffff;
  font-size: 1.2em;
  margin-top: 0;
}

.action-bar_title {
  font-family: 'Montserrat Bold';
  font-size: 25px;
  color: #3a3a3a;
  margin-bottom: 0;
}

.action-bar_content {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .action-bar_content {
    display: block;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .action-bar_button {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .action-bar_title {
    font-size: 20px;
  }
  .action-bar_content {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .action-bar_button {
    margin-top: 15px;
    height: 45px;
    width: 165px;
    font-size: 16px;
  }
}

footer {
  background-color: #171717;
}

.footer_item {
  padding-bottom: 15px;
  padding-top: 15px;
}

.footer-block {
  position: relative;
}

.footer-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-content li a:hover {
  color: #1a9bdc;
  text-decoration: none;
}

.footer-content li span:hover {
  color: #1a9bdc;
}

.footer_title {
  font-family: 'Montserrat Bold';
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 0;
  padding-bottom: 60px;
}

.footer-social {
  margin-right: 10px;
}

.footer_link {
  color: #707070;
}

.social-block {
  margin-bottom: 0;
}

.row {
  display: flex;
}

.image_envelope {
  padding-top: 9px;
}

.image_phone {
  padding-right: 13px;
}

.image_map {
  padding-right: 2px;
}

.contacts-list {
  margin-bottom: 0;
  color: #ffffff;
}

.contacts-list_item1, .contacts-list_item2, .contacts-list_item3, .contacts-list_item4 {
  display: flex;
  align-items: center;
}

.contacts-list_item1, .contacts-list_item2, .contacts-list_item3 {
  margin-bottom: 50px;
}

.contacts-list_ico {
  margin-right: 20px;
}

.information_item {
  padding-bottom: 15px;
}

.input {
  display: flex;
  margin-bottom: 25px;
  color: #ffffff;
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #707070;
  background: transparent;
  outline: none;
}

.input_text {
  height: 100px;
  padding-bottom: 70px;
}

.brif_button {
  height: 45px;
  width: 165px;
  background-color: #1a9bdc;
  border: none;
  border-radius: 50px;
  font-family: 'Montserrat Medium';
}

.brif_button a:hover {
  text-decoration: none;
}

.button_subtitle {
  color: #ffffff;
}

button:hover {
  background-color: #37c3a8;
  animation-delay: 0.2s;
}

@media (max-width: 1200px) {
  .footer-content {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .footer_title {
    padding-bottom: 40px;
  }
  .footer-social {
    margin-right: 5px;
  }
  .contacts-list_item1, .contacts-list_item2, .contacts-list_item3 {
    margin-bottom: 30px;
  }
  .input {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .footer-content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer_title {
    padding-bottom: 20px;
  }
  .footer-social {
    margin-right: 0;
  }
  .contacts-list_item1, .contacts-list_item2, .contacts-list_item3 {
    margin-bottom: 20px;
  }
  .contacts-list_ico {
    margin-right: 10px;
  }
  .information_item {
    padding-bottom: 10px;
  }
  .input {
    margin-bottom: 10px;
  }
}
